<ion-header>
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/home']" shape="round">Volver</ion-button>

    <ion-title>Cine</ion-title>

    <ion-buttons slot="end">
       <ion-button [routerLink]="['/login2']" style="display: flex; align-items: center; height: 100%;">
        Login
      </ion-button>
      <ion-avatar slot="end" style="height: 40px; width: 40px; margin-left: 10px;">
        <img src="assets/img/avatar.jpg" alt="avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card  class="responsive-card">
  <img src="assets/img/cine1.jpg"/>
  <ion-card-header>
    <ion-card-title>Estrellas con los pies en la tierra: ¿quiénes son realmente humildes?</ion-card-title>
    <ion-card-subtitle>Predican con sus actos</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Sus éxitos y miles de millones no han hecho que estas celebridades pierdan su sencillez; lo mismo pueden ser vistas manejando autos de gama media, como usando transporte público o comprando en tiendas pequeñas o, incluso, con cupones de ofertas. Entre ellos están Jennifer Lawrence, Eva Longoria, Lady Gaga, Keanu Reeves y Mark Zuckerberg.
  </ion-card-content>
</ion-card>


<ion-card  class="responsive-card">
  <img src="assets/img/cine2.jpg"/>
  <ion-card-header>
    <ion-card-title>Estas películas son mucho mejores que los libros</ion-card-title>
    <ion-card-subtitle>¿Eres de los que leen el libro antes de ver la película?</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Si la respuesta es afirmativa, probablemente te basarás en el hecho de que las novelas suelen ser mucho mejores.
  </ion-card-content>
</ion-card>



<ion-footer>
  <ion-toolbar>
    <ion-title>Noticias Caos News</ion-title>
  </ion-toolbar>
</ion-footer>