<ion-header>
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/home']" shape="round">Volver</ion-button>

    <ion-title>Internacional</ion-title>

    <ion-buttons slot="end">
       <ion-button [routerLink]="['/login2']" style="display: flex; align-items: center; height: 100%;">
        Login
      </ion-button>
      <ion-avatar slot="end" style="height: 40px; width: 40px; margin-left: 10px;">
        <img src="assets/img/avatar.jpg" alt="avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card class="responsive-card">
  <img src="assets/img/internacional1.jpg"/>
  <ion-card-header>
    <ion-card-title>Inminente guerra civil a la vista: expresidente ruso sentencia a Estados Unidos</ion-card-title>
    <ion-card-subtitle>¿Qué ha dicho exactamente Dmitri Medvédev?</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    El expresidente de Rusia, Dmitri Medvédev, expresó sobre la política estadounidense en una reciente publicación en redes sociales en la que el funcionario del Kremlin.
  </ion-card-content>
</ion-card>


<ion-card class="responsive-card">
  <img src="assets/img/internacional2.jpg"/>
  <ion-card-header>
    <ion-card-title>Dua Lipa anuncia su "Radical Optimism Tour": ¿Qué países visitará la artista?</ion-card-title>
    <ion-card-subtitle>¿¡Llegó el momento que todos esperaban! Y es que tras aterrizar a principios de mayo en las plataformas con su álbum "Radical Optimism"</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Si la respuesta es afirmativa, probablemente te basarás en el hecho de que las novelas suelen ser mucho mejores.
  </ion-card-content>
</ion-card>



<ion-footer>
  <ion-toolbar>
    <ion-title>Noticias Caos News</ion-title>
  </ion-toolbar>
</ion-footer>