<ion-header>
  <ion-toolbar>
    <ion-button slot="start" [routerLink]="['/home']" shape="round">Volver</ion-button>

    <ion-title>Deporte</ion-title>

    <ion-buttons slot="end">
       <ion-button [routerLink]="['/login2']" style="display: flex; align-items: center; height: 100%;">
        Login
      </ion-button>
      <ion-avatar slot="end" style="height: 40px; width: 40px; margin-left: 10px;">
        <img src="assets/img/avatar.jpg" alt="avatar" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-card>
  <img alt="Silhouette of mountains" src="assets/img/deporte2.jpg" class="card-image" />
  <ion-card-header>
    <ion-card-title class="card-title">
      Waldo Ponce le tira las orejas a Paulo Díaz por el nivel que tiene en la selección chilena: "Tiene que mostrar personalidad"
    </ion-card-title>
    <ion-card-subtitle>
      Uno de los jugadores que no podrá estar ante Brasil será el defensor Paulo Díaz, que recibió una tarjeta amarilla ante los Altiplánicos.
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    Pese a eso, el zaguero de River Plate se ha ganado ciertas críticas por el rendimiento que ha mostrado en el Equipo de Todos...
  </ion-card-content>
</ion-card>

<ion-footer>
  <ion-toolbar>
    <ion-title>Noticias Caos News</ion-title>
  </ion-toolbar>
</ion-footer>
