<content>
  <div>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
          <ion-label>First Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content"><ion-img
          src="assets/img/carrusel1.jpg"
          alt="foto testing"
        ></ion-img></div>
      </ion-accordion>
      <ion-accordion value="second">
        <ion-item slot="header" color="light">
          <ion-label>Second Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Second Content</div>
      </ion-accordion>
      <ion-accordion value="third">
        <ion-item slot="header" color="light">
          <ion-label>Third Accordion</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Third Content</div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  
  
  <ion-card>
    <ion-card-content>Card 1</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Card 2</ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-content>Card 3</ion-card-content>
  </ion-card>
  
  <ion-button (click)="play()">Play</ion-button>
  <ion-button (click)="pause()">Pause</ion-button>
  <ion-button (click)="stop()">Stop</ion-button>

  </content>




